/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; }

@media screen and (min-width:180px){
    nav {
        text-align: left;
        display:list-item;
        width: 25%;
    }
    body {
        margin:0;
    }

}

@media screen and (max-width:320px){
    nav li{
        display:inline;
    }
}
body {
    font-size: 16px;
    line-height: 32px;
    font-family: inherit;
    color: black;
}

h1 {
    font-size: 42px;
    color: azure;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 80px;
    background-color: antiquewhite;
}

h2 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

.forecast {
    display:none;
    font-size: 20px;
    text-align: center;
    float: center;

}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: auto;
}

header, footer, footer a {
    text-align: center;
    background-color: mediumslateblue;
    color: whitesmoke;
}

header img {
    margin: 0 0 1em 1em;
    float: right;
}

footer {
    font-size: 18px;
}
